.forecastContainer {
   display: flex;
   flex-direction: column;
   gap:1rem;  
   padding: 0.5rem;
   background-color: whitesmoke;
}

.message {
   display: flex;
   justify-content: center;
   align-items: center;
   animation: wiggle 2s linear infinite;
   font-size: 1.5rem;
   text-align: center;
   color: azure;
   height: 80vh;
}

@keyframes wiggle {

   0%,
   7% {
      transform: rotateZ(0);
   }

   15% {
      transform: rotateZ(-15deg);
   }

   20% {
      transform: rotateZ(10deg);
   }

   25% {
      transform: rotateZ(-10deg);
   }

   30% {
      transform: rotateZ(6deg);
   }

   35% {
      transform: rotateZ(-4deg);
   }

   40%,
   100% {
      transform: rotateZ(0);
   }
}
